services:
  web:
    depends_on:
      - api
    build: ./frontend
    image: moriiarty/dlc-ecommerce-web:latest
    container_name: dlc-web
    ports:
      - 80:80 # frontend served via nginx
    environment:
      - VITE_BASE_URL=${VITE_BASE_URL}

  api:
    depends_on:
      - db
    build: ./server
    image: moriiarty/dlc-ecommerce-api:latest
    container_name: dlc-api
    ports:
      - 3000:3000
    environment:
      - PORT=${PORT}
      - MONGO_URL=${MONGO_URL}
      - SECRET=${SECRET}

  db:
    image: mongo:latest
    container_name: dlc-db
    restart: always
    ports:
      - 27017:27017
    volumes:
      - dlc:/data/db

volumes:
  dlc:
