@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", serif;
}

body {
  background-color: white;
}

@layer components {
  .input-auth-container {
    @apply max-w-80 p-2 rounded-md bg-auth-placeholder;
  }

  .input-auth {
    @apply outline-none w-full bg-transparent text-auth-white-text text-sm placeholder:text-auth-placeholder-text;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-[8px] h-[3px] bg-white;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray rounded-md;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
}

.event {
  position: relative;
  background-color: #f0bb78;
  padding: 20px;
  border-radius: 20px;
}

.event::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background: url("./assets/test.png") no-repeat bottom right;
  background-size: contain;
  z-index: 1;
  opacity: 0.5; /* Adjust this value to control the transparency of the image */
}

.content {
  position: relative;
  z-index: 2;
}

.dropdownProfile {
  position: absolute;
  top: 3.5rem;
  right: -1rem;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f1f1f1;
  border: 1px solid #c4c3c3;
  z-index: 50;
}

.dropdownProfile::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #f1f1f1;
  border-left: 1px solid #c4c3c3;
  border-top: 1px solid #c4c3c3;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* Show only 1 lines */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Show only 2 lines */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-pagination-bullet-active {
  background: #091035 !important;
}

.react-multi-carousel-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 1.5rem;
}

.slick-arrow::before {
  color: #091035 !important;
  font-size: 1.25rem !important;
}

.slick-prev.slick-disabled:before {
  opacity: 0 !important;
}

.slick-next.slick-disabled:before {
  opacity: 0 !important;
}

.slick-track {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 10px !important;
}

.gradient-seperator {
  background-image: linear-gradient(
    to top,
    #ffcc87,
    #ffc4af,
    #ffc9d3,
    #e6d2e2,
    #d9d9d9
  );
}

.auth-gradient {
  background-image: linear-gradient(
    to left top,
    #6d54b5,
    #5c4894,
    #4c3c74,
    #3c3155,
    #2c2638
  );
}
